/*=============================================
  Base Styles
=============================================*/

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  font: 300 16px/1.6 'Cormorant Garamond', serif;
  text-align: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  color: #555;
}

h1,
h2,
h3 {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0 10px;
}

p {
  font-size: 1.125rem;
}

strong {
  font-weight: 700;
}

img {
  width: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}


/*=============================================
  Layout, Cosmetic & Helper
=============================================*/

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 10px 0 20px;
}

nav ul {
  margin: 30px 0 40px;
}

nav li {
  margin-bottom: 5px;
}

nav a {
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: white;
}

nav a:hover {
  color: rgb(46, 139, 87);
  background-color: rgba(46, 139, 87, 0.05);
  transition: all ease-in-out 0.25s;
}

section {
  padding: 30px;
}

main {
  background-color: white;
}

.profile-image {
  max-width: 200px;
}

#portfolio h2 {
  margin-bottom: 30px;
}

article {
  margin-bottom: 40px;
}

article p {
  margin: 0;
  opacity: 75%;
}

#skills {
  background-color: rgb(101, 91, 130);
  color: white;
}

#skills li {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  background-color:rgb(217, 172, 69)
}

footer ul {
  display: inline-block;
  width: calc(50% - 4px);
  font-size: .75rem;
  text-align: right;
}

footer a {
  color: #555;
  text-decoration: none;
}

footer a:hover {
  color: rgb(46, 139, 87);
  transition: all ease-in-out 0.25s;
}

#bottom-nav {
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
}

.brand {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  width: 50%
}

.mobile-hide {
  display: none;
}


/*=============================================
  Media Queries
=============================================*/

@media screen and (min-width: 768px) {
  
  .flex {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  
  header {
    padding: 40px 0 50px;
  }
  
  header p {
    font-size: 1.25rem;
    text-align: left;
  }
  
  nav li {
    display: inline-block;
  }

  nav a {
    display: inline-block;
    background-color: transparent;
  }

  section {
    padding: 40px 0 50px;
  }

  .profile-image {
    float: right;
    max-width: 300px;
  }

  #portfolio {
    padding-bottom: 0;
  }

  #portfolio h2 {
    margin-bottom: 50px;
  }

  article {
    width: 49%;
    margin-bottom: 60px;
  }

  #contact {
    max-width: 500px;
  }

  #contact p,
  #skills p {
    font-size: 1.25rem;
  }

  #bottom-nav {
    padding-bottom: 40px;
  }
  
  .tablet-hide {
    display: none;
  }

  .mobile-hide {
    display: inline-block;
    margin: 0 5px;
  }

}

@media screen and (min-width: 1024px) {

  .container {
    width: 95%;
  }
  
  nav h1 {
    text-align: left;
    display: inline-block;
    width: 50%
  }
  
  nav ul {
    display: inline-block;
    width: calc(50% - 4px);
    text-align: right;
  }

  header p {
    max-width: 500px;
  }

  .profile-image {
    max-width: 400px;
  }

  article {
    width: 32%;
  }

  #skills {
    background-color: white;
    border-top: 1px solid #e6e6e6;
    color: #555;
  }

  #bottom-nav {
    padding-bottom: 10px;
  }


}
