/*=============================================
  Base Styles
=============================================*/

* {
  box-sizing: border-box;
}

body {
  font: 300 20px/1.6 'Cormorant Garamond', serif;
}

h1,
h2,
h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
}

h1 {

}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}


/*=============================================
  Layout Styles
=============================================*/



/*=============================================
  Cosmetic Styles
=============================================*/




/*=============================================
  Media Queries
=============================================*/


